.picture-cover {
    background-image: url("LuckyDiceImages/cover.jpg");
    min-height: 100px;
}

.picture-prize {
    width: 80px
}

.bg-img1 {
    width: 110%;
    text-align: center;
    background-image: url("LuckyDiceImages/back-ground-2.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    color: white;
}

.bg-img2 {
    width: 100%;
    text-align: center;
    background-image: url("LuckyDiceImages/back-ground-3d.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.bg-img3 {
    width: 100%;
    text-align: center;
    background-image: url("LuckyDiceImages/back-ground-3.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
    color: white;
}

.bg-black {
    background-color: black
}

.bg-grey {
    background-color: rgba(153, 146, 146, 0.24)
}

.text-black {
    color: black
}

.margin-auto {
    margin: 10px auto;
}

.margin-20auto {
    margin: 20px auto;
}

.margin-30auto {
    margin: 30px auto;
}

.margin-50auto {
    margin: 50px auto;
}

